.hero-section {
    background-color: #5AC1C0;
    min-height: 85vh;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.hero-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
}

.hero-image { flex: 1.2; text-align: center; }
.hero-image img { width: 100%; max-width: 550px; }

.hero-content { flex: 1; }
.hero-content h1 { font-size: 4rem; margin: 0; letter-spacing: -2px; }
.hero-content h2 { font-size: 1.8rem; margin: 10px 0 20px 0; }
.hero-content p { line-height: 1.6; margin-bottom: 30px; }
.hero-content a {text-decoration: none; color: #061B38; transition-duration: 0.4s}
.hero-content button:hover a { color: #fff;}

@media (max-width: 768px) {
	.hero-section {
        min-height: auto;
        padding-bottom: 30px;
        padding-top: 10px;
        display: block;
    }

    .hero-container {
        flex-direction: column;
        gap: 20px;
    }

    .hero-image img { max-width: 250px; }
    .hero-content h1 { font-size: 2.5rem; }

    main {
    	padding-top: 50px !important;
    }

}

